body{
    background-color: #f0f0f0;
}

header{
    background-color: #0000ff;
    color: white;
}

main{
    background-color: white;
    margin: 20px;
}

footer{
    background-color: #cccccc;
    text-align: center;
}

h1{
    color: #0000ff;
    font-size: 24;
}

p{
   word-spacing: 10px;
   color: #333333; 
}

li{
    margin: 5px;
    color: #00ff00;
}                                                                      